*{
    margin: 0;
    padding:0;
}

.navison{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    .navison-text{
        font-size: 2em;
        color: rgb(17, 16, 16);
    }
    span{
        color:  #FF42A5;
    }
    .navison-img{
        width: 50px;
    }
    .navison-text .navison-img{
     display:flex;
    }
    .nivison-tag a{
        position: relative;
        font-size: 1.1em;
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    }
    .nivison-tag .navispn-btn{
        width: 160px;
        height: 40px;
        background: rgb(239, 237, 235);
        border: 2px solid rgb(158, 103, 103);
        border-radius: 6px;
        font-size: 1.1em;
        color: rgb(12, 12, 12);
        font-weight: 500;
        margin-left: 40px;
    }
    header{
        max-width: 100%;
        margin: 0 auto;
    }
.hedear-sect{
    display: flex;
    background-image: url(/images/Group\ 14.png);
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 100%;
    text-align: center;
    margin-top: 120px ;
}
.btn-1{
    border-radius: 48px; 
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-2{
    border-radius: 48px; 
    padding: 10px 20px;
    border-radius: 48px;
    background: #4EC5F7; 
}
.hedear-down{
 padding: 100px;
 text-align:left;
 
}
h2{
    color: brown;
    font-size: 40px;
    
}
.png{
width: 625px;
height: 300px; 

}
.main-img{
    width: 450px;
    height: 420px;
    padding-left: 280px;
}
.main-contai{
    display: flex;
    height: 600px;
    width: 100%;
    margin: 5px;
    background: rgb(253, 252, 252);
}
.titles{
    grid-row: auto;
    display: center;
    padding: 110px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
}
.color-2{
    padding: 10px;
    color: #F948B2;
}
.btn-3{
border-radius: 48px; 
padding: 10px 20px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
; 
} 
.prag{
    padding: 10px;
}   

justify-content: center;
}  

.deep-img{
    display: flex;
    align-items: center;
width: 100%;
background: white;
gap: 10px 10px 10px 10px;
border-radius: 2px solid white; 
}
.game-section{

    text-align: center;
  

} 
.picture{
    height: 300px;
   border: 20px solid white;
 padding-right: 10px;
  
}

.image-play{
    height: 400px;
    
}
.image-play2{
height: 200;
width: 150px;
bottom: 8px;
padding-right: 100px;

}

.play-container{
    display: flex;
    justify-content: center;
    background: white;
    height: 430px;
    width: 100%;
    padding: 40px;
}
.item{
    padding: 100px;
    

}
.temop-a{
    display: flex;
    align-content: center;
}
.section-a{
    display: grid;
    grid-template-columns: repea(2, 1fr);
    gap: 24px;
    align-items: center;
    justify-content: space-around;

}
.Group-section{
    background-image: url(../images/Group\ 65.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size: 700px 430px;
    width: 100%;
    height: 200px;
     padding: 120px 0 120px;
   background-color: #F948B2;
   
}
.position{
    text-align: center;
    text-align: left;
    padding:  0 90px;
    
}
#text-secs{
    font-size: 15px;
    padding: 10px 0 10px;
}
.btn{
    color: white;
    background-color: rgb(189, 189, 73);
    padding: 10px 20px;
    border-radius: 48px;
    gap: 10px
    
}
.devl-section{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background: #f0f5f7;
    padding-top: 50px;
}
.beep{
    justify-content: center;
width: 281px;
height: 80px;
border-radius: 50px;
background: #FFF;
gap: 20px;
}

.foot-section{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background: black;
    color: white;
    
}
#game-pp{
font-size: 50px;
padding-bottom: 15px 0 15px;
}
.bcc{
 display: inline-flex;
 gap: 20px;
padding:10px 0 10px
    
}
.fb-icon{
    padding: 10px 0 10px;
    border: 2px solid none;
    gap: 20px;
}
.ba-last{
    display: inline-flex;
    gap: 12px;
    padding: 10px 0 10px;
}
.discos{
    pad: 10px 0 20px;
}